In [1]:
import pandas as pd
import os
import sys

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
pwd

'/home/ec2-user/github/kaggle/instacart'

In [4]:
data_dir = os.path.expanduser("~/data/instacart-market-basket-analysis")

In [5]:
data_dir

'/home/ec2-user/data/instacart-market-basket-analysis'

In [6]:
df = pd.read_csv(os.path.join(data_dir, "orders.csv"))

In [8]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [9]:
df.shape

(3421083, 7)